.idea/

build/
cmake-build-debug/
data/
other/fsss2.cpp
other/fsss2.h
other/t_128.cpp
other/t_128.h
other/JCZSolve.c
other/JCZSolve.h
other/JSolve.c
other/JSolve.h
src/build_info.h

run_benchmark
run_tests
libtdoku.a
Makefile
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
