.idea/

build/
cmake-build-debug/
data/

other/fsss2/fsss2.cpp
other/fsss2/fsss2.h
other/fsss2/t_128.cpp
other/fsss2/t_128.h

other/JCZSolve/JCZSolve.c
other/JCZSolve/JCZSolve.h

other/SK_BFORCE2/Zhn.h
other/SK_BFORCE2/Zhn_cpp.h
other/SK_BFORCE2/Zhtables_cpp.h
other/SK_BFORCE2/sk_bitfields.cpp
other/SK_BFORCE2/sk_bitfields.h
other/SK_BFORCE2/sk_t.cpp
other/SK_BFORCE2/sk_t.h

src/build_info.h

run_benchmark
run_tests
Makefile
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

*.so
*.a
